<div style="margin-top: 56px" class="card shadow-lg">
  <h1 class="text-center card-header border-primary text-primary">
    Cadastro do Aluno
  </h1>
  <div class="card-body">
    <form class="form">
      <!-- Primeira Linha do Formulário -->
      <div class="row">
        <div class="col-sm-6">
          <label class="form-label" for="nome">Nome</label>
          <input
            type="text"
            name="nome"
            id="nome"
            class="form-control"
            placeholder="First name"
          />
        </div>
        <div class="col-sm-6">
          <label class="form-label" for="sobrenome">Sobrenome</label>
          <input
            type="text"
            id="sobrenome"
            name="sobrenome"
            class="form-control"
            placeholder="Last name"
          />
        </div>
      </div>
      <!-- Segunda Linha do Formulário -->
      <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-3">
          <label class="form-label" for="dataNascimento">
            Data de nascimento</label
          >
          <input
            type="date"
            name="dataNascimento"
            id="dataNascimento"
            class="form-control"
            placeholder="First name"
          />
        </div>
        <div class="col-md-4 col-sm-4 col-lg-2 offset-lg-2">
          <label class="form-check-label" for="flexRadioDefault2">Sexo</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sexo"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="sexo"
              id="flexRadioDefault2"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Feminino
            </label>
          </div>
        </div>
        <div class="col-sm-2 col-md-3 offset-md-1 col-lg-1 offset-lg-4">
          <label class="form-label" for="estado">Estado</label>
          <input
            type="text"
            id="estado"
            name="estado"
            class="form-control"
            placeholder="UF"
          />
        </div>
      </div>
      <!-- Terceira Linha do Formulário -->
      <div class="row">
        <div class="col-sm-4">
          <label class="form-label" for="telefone">Telefone</label>
          <input
            type="text"
            name="telefone"
            id="telefone"
            class="form-control"
            placeholder="Telefone"
          />
        </div>
        <div class="col-sm-4">
          <label class="form-label" for="celular">Celular</label>
          <input
            type="text"
            name="celular"
            id="celular"
            class="form-control"
            placeholder="Celular"
          />
        </div>
        <div class="col-sm-4">
          <label class="form-label" for="cpf">CPF</label>
          <input
            type="text"
            name="cpf"
            id="cpf"
            class="form-control"
            placeholder="CPF"
          />
        </div>
      </div>
      <hr color="#007BFF" />
      <!-- Quarta Linha do Formulário -->
      <div class="row">
        <div class="col-sm-4">
          <label class="form-label" for="cep">CEP</label>
          <input
            type="text"
            name="cep"
            id="cep"
            class="form-control"
            placeholder="CEP"
          />
        </div>
        <div class="col-sm-8">
          <label class="form-label" for="endereco">Endereço</label>
          <input
            type="text"
            name="endereco"
            id="endereco"
            class="form-control"
            placeholder="Endereço"
          />
        </div>
      </div>
      <!-- Quarta Linha do Formulário -->
      <div class="row">
        <div class="col-sm-4">
          <label class="form-label" for="bairro">Bairro</label>
          <input
            type="text"
            name="bairro"
            id="bairro"
            class="form-control"
            placeholder="Bairro"
          />
        </div>
        <div class="col-sm-2">
          <label class="form-label" for="numero">Número</label>
          <input
            type="text"
            name="numero"
            id="numero"
            class="form-control"
            placeholder="Número"
          />
        </div>
      </div>
      <hr color="#007BFF" />
      <!-- Linhas dos Responsáveis -->
      <div class="row">
        <div class="col-sm-7">
          <label class="form-label" for="responsavel1">Responsável 1</label>
          <input
            type="text"
            name="responsavel1"
            id="responsavel1"
            class="form-control"
            placeholder="Responsavel"
          />
        </div>
        <div class="col-sm-5">
          <label class="form-label" for="numeroResponsavel1"
            >Telefone do responsável 1</label
          >
          <input
            type="text"
            name="numeroResponsavel1"
            id="numeroResponsavel1"
            class="form-control"
            placeholder="Número responsável 1"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <label class="form-label" for="responsavel1">Responsável 2</label>
          <input
            type="text"
            name="responsavel1"
            id="responsavel1"
            class="form-control"
            placeholder="Responsavel"
          />
        </div>
        <div class="col-sm-5">
          <label class="form-label" for="numeroResponsavel2"
            >Telefone do responsável 2</label
          >
          <input
            type="text"
            name="numeroResponsavel2"
            id="numeroResponsavel2"
            class="form-control"
            placeholder="Número responsável 2"
          />
        </div>
      </div>
      <hr color="#007BFF" />
      <div class="row justify-content-center mt-5 mb-5">
        <button class="btn btn-primary mb-5">Salvar</button>
        <button class="btn btn-primary mb-5 ml-5">Cancelar</button>
      </div>
    </form>
  </div>
</div>
