<div class="row h-100 justify-content-center align-items-center">
  <form class="col-md-8 col-sm-10 col-lg-4">
    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input
        type="text"
        class="form-control"
        id="login"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" />
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary">Logar</button>
    </div>
  </form>
</div>
