<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container height-nav">
    <!-- <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
    </div> -->
  </div>
</nav>

<div class="container height-padrao">
  <router-outlet></router-outlet>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container height-nav">
    <!-- <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
    </div> -->
  </div>
</nav>
